<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">

<title>Edit Event</title>

<style>

body{
font-family:Arial;
background:#f4f4f4;
padding:30px;
}

.container{
width:60%;
margin:auto;
background:white;
padding:20px;
border-radius:10px;
}

h1{
text-align:center;
color:#ff6600;
}

input{
width:100%;
padding:10px;
margin:10px 0;
}

button{
background:green;
color:white;
padding:10px 20px;
border:none;
border-radius:5px;
cursor:pointer;
}

</style>

</head>

<body>

<div class="container">

<h1>Edit Event</h1>

<form action="/update_event/{{ event[0] }}" method="POST">

<input
type="text"
name="event"
value="{{ event[1] }}"
required>

<input
type="date"
name="date"
value="{{ event[2] }}"
required>

<input
type="time"
name="time"
value="{{ event[3] }}"
required>

<button>
Update Event
</button>

</form>

</div>

</body>
</html>
